body
{
    background-color: #404040;
    font-family: 'Lato', sans-serif;


}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo
{
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 900;    
}

#menu
{
    background-color: #303030;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;
}

.option
{
    display: inline-block;
    min-width: 110px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
    text-align: center;
    opacity: 0.8;
}

.option:hover
{
    background-color: #000000;
    cursor: pointer;
}

#topbar
{
    height: 170px;
    background-color: #3dba90;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;    
}

#topbarL
{
    width: 138px;
    float: left;
    border-right: 2px dotted #cccccc;
    padding: 20px;
    text-align: center;    
}

#topbarR
{
    float: left;
    width: 760px;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
}

#sidebar
{
    float: left;
    width: 148px;
    min-height: 620px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    font-size: 18px;
    border-right: 2px dotted #666666;
}

.optionL
{
    font-size: 18px;
    padding: 10px;
    height: 25px;
    border-bottom: 2px dotted #444444;
}

.optionL:hover
{
    background-color: #f36742;
    color: white;
    cursor: pointer;
}

#content
{
    float: left;
    padding: 40px;
    width: 730px;
    min-height: 580px;
    text-align: justify;
    background-color: #dedede;
    
}

#footer
{
    clear: both;
    text-align: center;
    font-size: 18px;
    color: white;
}

.bigtitle
{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
}

.dottedline
{
    height: 5px;
    margin-top:15px;
    margin-bottom: 20px;
    border-bottom: 2px dotted #444444;
}